@import '../style/vars.scss';

.product-add-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  @media(min-width: 769px){
    grid-area: 6 / 2 / 7 / 2;
    max-width: 36.5rem;
    max-height: 6.6rem;
  }
}
.product-add-cart__btn{
  width: 100%;
  height: 3rem;
  border: 0;
  border-radius: 0.4rem;
  color: white;
  font-weight: 500;
  background-color: $rei-color-background-button-primary;
  margin-bottom: 1.5rem;
  &:hover{
    background-color: white;
    color: $rei-color-background-button-primary;
    border: 2px solid $rei-color-background-button-primary;
  }
}
.product-add-cart__link{
  width: 100%;
  font-size: 1.4rem;
  color: $rei-color-text-link-primary;
  text-align: center;
  &:hover{
    text-decoration: none;
  }
}